---
import { Image, getImage } from "astro:assets";

import Background from "../components/Background.astro";
import Link from "../components/Link.astro";
import logo from "../images/logo.png";
import map from "../images/map.png";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import { astroImageWidthsToMatchingSizes } from "../lib/utils/astro";

const ogLogo = await getImage({
  src: logo,
  width: 640,
  format: "png",
  quality: "mid",
});
const title = "FestivAE — 6 de Julio de 2024";
const description =
  "Festival de Artes Electronicas de la Universidad de Tres de Febrero (UNTREF)";

const LOGO_WIDTHS = [320, 480, 640, 768, 992];
const MAP_WIDTHS = [320, 480, 640, 768];
---

<Layout
  class="flex items-center justify-center"
  title={title}
  description={description}
  openGraph={{
    basic: {
      image: ogLogo.src,
      title,
      type: "website",
    },
    optional: {
      description,
    },
  }}
>
  Proximo festi
  <!-- <Background
    class="flex min-h-dvh w-full max-w-screen-lg flex-col justify-around gap-8 px-4 py-2 text-center text-neutral-50 md:justify-between"
  >
    <header
      class="flex h-1/4 items-center justify-between gap-2 text-center font-tox max-md:flex-col max-md:rounded-2xl max-md:border-4 max-md:border-dashed"
    >
      <div
        class="w-full max-w-xs py-4 font-semibold uppercase md:rounded-2xl md:border-4 md:border-dashed"
      >
        <p class="text-7xl">Sábado</p>
        <p class="text-4xl">6 <small>de</small> Julio</p>
      </div>
      <div
        class="w-full max-w-xs py-4 font-semibold uppercase md:rounded-2xl md:border-4 md:border-dashed"
      >
        <p class="text-7xl">18 <small>a</small> 00<small>hs</small></p>
        <p class="text-4xl">Entrada Pública</p>
      </div>
    </header>
    <main class="flex flex-col items-center gap-8">
      <header class="sr-only">
        <h1>Festival de Artes Electrónicas de la UNTREF (FESTIVAE)</h1>
      </header>
      <div
        class="flex flex-col font-microgramma text-lg uppercase italic md:text-2xl"
      >
        <p class="w-full text-left">Nos sostenemos creando</p>
        <Image
          src={logo}
          alt="Logo del FestivAE"
          loading="eager"
          quality="mid"
          sizes={astroImageWidthsToMatchingSizes(LOGO_WIDTHS)}
          widths={LOGO_WIDTHS}
        />
        <p class="w-full text-right">Resistencia y reexistencia</p>
      </div>
      <div
        class="flex max-w-screen-md flex-col font-microgramma text-lg uppercase italic md:text-2xl"
      >
        <p class="w-full text-center">
          <span aria-hidden="true">// </span>
          Shows en vivo
          <span aria-hidden="true"> //</span>
          <span aria-hidden="true" class="sm:hidden"><br />// </span>
          Obras
          <span aria-hidden="true"> //</span>
          <br />
          <span aria-hidden="true">// </span>
          Instalaciones
          <span aria-hidden="true"> //</span>
          <span aria-hidden="true" class="sm:hidden"><br />// </span>
          Performance
          <span aria-hidden="true"> //</span>
        </p>
      </div>
      <div
        class="flex flex-col gap-4 text-center font-tox text-3xl font-bold uppercase"
      >
        <p>¿Asististe al festival?</p>
        <p>¿Tenés un registro del evento que nos quieras compartir?</p>
        <p>
          <Link
            class="rounded-2xl border-4 border-dashed p-2 underline"
            external
            href="https://drive.google.com/drive/folders/1-Ew8tgZwRqEP8YdLdcklmUWw3uJnx-g3"
          >
            Podés hacerlo acá
          </Link>
        </p>
      </div>
      <Link
        class="max-w-screen-md rounded-2xl"
        external
        href="https://www.google.com/maps/place/UNTREF+Sede+Lynch/@-34.5988708,-58.5278781,19z/data=!4m6!3m5!1s0x95bcb7bf5c7fe83b:0x5694f47b93932ceb!8m2!3d-34.5984469!4d-58.5277789!16s%2Fg%2F11b8jctkgn?entry=ttu"
      >
        <p class="sr-only">Dirección: Dr. Alfredo E. Springolo 351</p>
        <Image
          src={map}
          alt="Vista desde arriba de la sede UNTREF Villa Lynch"
          quality="mid"
          sizes={astroImageWidthsToMatchingSizes(MAP_WIDTHS)}
          widths={MAP_WIDTHS}
        />
      </Link>
    </main>
    <Footer /> -->
</Layout>
